{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block body %}

    <div class="container admin-page">

        <h1>Liste des sites</h1>

        {{  form_start(searchForm) }}
            <div class="form-row">{{  form_widget(searchForm.search) }}</div>
        {{  form_end(searchForm) }}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>

            <tbody>
            {{ include('site/add.html.twig') }}
            {% for site in sites %}
                <tr>
                    <td>{{ site.nom }}</td>
                    <td>
                        <a href="{{ path('app_admin_site_update', {'id': site.id}) }}">
                            <button class="btn btn-primary btn-sm">Modifier</button>
                        </a>
                        <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ site.nom }} ? Attention cette action est irréversible.')" href="{{ path('app_admin_site_delete', {'id': site.id}) }}">
                            <button class="btn btn-danger btn-sm">Supprimer</button>
                        </a>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}