{% extends 'base.html.twig' %}

{% block title %}Editer le profil{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier le profil</h1>

        {{ form_start(profilForm) }}

        {{ form_errors(profilForm) }}

        <div class="row">

            <label for="nom-profil">Nom</label>
            <input
                    id="nom-profil"
                    name="{{ field_name(profilForm.nom) }}"
                    value="{{ field_value(profilForm.nom) }}"
                    placeholder="{{ field_label(profilForm.nom) }}"
                    class="form-control"
                    {{ not is_granted("ROLE_ADMIN") ? "readonly" : "" }}
            />

            <label for="prenom-profil">Prenom</label>
            <input
                    id="prenom-profil"
                    name="{{ field_name(profilForm.prenom) }}"
                    value="{{ field_value(profilForm.prenom) }}"
                    placeholder="{{ field_label(profilForm.prenom) }}"
                    class="form-control"
                    {{ not is_granted("ROLE_ADMIN") ? "readonly" : "" }}
            />

            <div class="col-4">
                {{ form_row(profilForm.pseudo) }}
            </div>

            <div class="col-4">
                {{ form_row(profilForm.telephone) }}
            </div>

            <div class="col-4">
                {{ form_row(profilForm.email) }}
            </div>

            <div class="col-4">
                {{ form_row(profilForm.plainPassword) }}
            </div>

        </div>

        <button type="submit" class="btn btn-outline-primary">Soumettre</button>

        {{ form_end(profilForm) }}
    </div>

{% endblock %}