{% extends 'base.html.twig' %}

{% block title %}Editer le profil{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('participant') }}
    {{ encore_entry_script_tags('preview') }}
{% endblock %}

{% block body %}

    <div class="container container-page">
        <h1>Modifier le profil</h1>

        {{ form_start(profilForm) }}

        {{ form_errors(profilForm) }}


        <div class="row">
            <div class="col-2">
                <img id="preview" class="profile-pic" src="{{ asset('uploads/participants/' ~ app.user.imageProfil) }}" alt="Photo de profil">
                {{ form_row(profilForm.rgpd) }}
            </div>

            <div class="col-5">
                <div class="row">
                    <div class="col-9">
                        {{ form_row(profilForm.pseudo) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-9">
                        <div class="mb-3">
                            <label class="form-label" for="prenom-profil">Prenom*</label>
                            <input
                                    id="prenom-profil"
                                    name="{{ field_name(profilForm.prenom) }}"
                                    value="{{ field_value(profilForm.prenom) }}"
                                    placeholder="{{ field_label(profilForm.prenom) }}"
                                    class="form-control"
                                    {{ not is_granted("ROLE_ADMIN") ? "readonly" : "" }}
                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-9">
                        <div class="mb-3">
                            <label class="form-label" for="nom-profil">Nom*</label>
                            <input
                                    id="nom-profil"
                                    name="{{ field_name(profilForm.nom) }}"
                                    value="{{ field_value(profilForm.nom) }}"
                                    placeholder="{{ field_label(profilForm.nom) }}"
                                    class="form-control"
                                    {{ not is_granted("ROLE_ADMIN") ? "readonly" : "" }}
                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-9">
                        {{ form_row(profilForm.image) }}
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="row">
                    <div class="col-9">
                        {{ form_row(profilForm.email) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        {{ form_row(profilForm.telephone) }}
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-9">
                        {{ form_row(profilForm.plainPassword) }}
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-6 h-fit-content">
                        <a class="btn btn-link" href="{{ path('app_profil_edit_password',{'pseudo' : app.user.pseudo}) }}">Modifier votre mot de passe ?</a>
                    </div>
                </div>

            </div>

            <div class="mt-4 row justify-content-center">
                <div class="w-fit-content">
                    <button type="submit" class="btn btn-outline-primary">Soumettre</button>
                    <a href="{{ path('app_profil_voir', {"pseudo" : app.user.pseudo}) }}" class="btn btn-outline-danger">Annuler</a>
                </div>
            </div>

            {{ form_end(profilForm) }}
        </div>
    </div>

{% endblock %}