{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <section class="h-100 gradient-custom-2">
        <div class="container justify-content-center py-5 h-100">
            <div class="row d-flex justify-content-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row" style=" background: rgb(255,255,255); background: linear-gradient(189deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);  height:200px;">
                            <div class="ms-4 d-flex flex-column justify-content-end">
                                {% if ('ROLE_ADMIN' in app.user.roles or user == app.user or (user.rgpd and user != app.user)) %}
                                    <img class="profile-pic" src="{{ asset('uploads/participants/' ~ user.imageProfil) }}" alt="Photo de profil">
                                {% else %}
                                    <img class="profile-pic" src="{{ asset('uploads/participants/default_profile_picture.png') }}" alt="Photo de profil">
                                {% endif %}
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <div class="d-flex gap-1">
                                    <h5>{{ user.prenom }} {{ user.nom | upper }}</h5>
                                </div>

                                <p>@{{ user.pseudo }}</p>
                            </div>
                        </div>

                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="small text-muted mb-0">Site</p>
                                    <p class="mb-1 h5">{{ user.site.nom }}</p>
                                </div>
                                <div class="px-3">
                                    <p class="small text-muted mb-0">Adresse email</p>
                                    <p class="mb-1 h5">{{ user.email }}</p>
                                </div>
                                {% if app.user.telephone %}
                                    <div class="px-3">
                                        <p class="small text-muted mb-0">Téléphone</p>
                                        <p class="mb-1 h5">{{ user.telephone }}</p>
                                    </div>
                                {% else %}
                                    <div class="px-3">
                                        <p class="small text-muted mb-0">Pas de téléphone</p>
                                    </div>
                                {% endif %}
                                <div class="px-3">
                                    <p class="small text-muted mb-0">Sorties</p>
                                    <p class="mb-1 h5">{{ user.sorties.count }}</p>
                                </div>
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') and user != app.user %}
                            <a href="{{ path('app_admin_participant_update', {'id': user.id}) }}" type="button" class="btn btn-outline-dark btn-admin" data-mdb-ripple-color="dark"
                               style="z-index: 1;">
                                Editer son profil
                            </a>
                        {% elseif user == app.user %}
                            <a href="{{ path('app_profil_editer', {'pseudo': user.pseudo}) }}" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                               style="z-index: 1;">
                                Editer le profil
                            </a>
                        {% endif %}
                        <div class="card-body p-4 text-black">
                            {#<div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">Web Developer</p>
                                    <p class="font-italic mb-1">Lives in New York</p>
                                    <p class="font-italic mb-0">Photographer</p>
                                </div>
                            </div>#}
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                {% if user.sorties.count == 0 %}
                                    <p class="lead fw-normal mb-0">Aucune sortie</p>
                                {% else %}
                                    <p class="lead fw-normal mb-0">{{ is_granted('ROLE_ADMIN') and user != app.user ? 'S' : 'M' }}es dernières sorties</p>
                                {% endif %}
                            </div>
                            <div class="row g-2">
                                {% for sortie in user.sorties | slice(0,5) %}
                                    <div class="col-4 mb-2">
                                        <a class="link" href="{{ path('sortie_detail', {'id': sortie.id}) }}">
                                            {{ sortie.nom }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
