{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <section class="h-100 gradient-custom-2">
        <div class="container justify-content-center py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row" style=" background: rgb(255,255,255); background: linear-gradient(189deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);  height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img src="{{ asset('uploads/participants/' ~ app.user.imageProfil) }}" alt="Photo de profil">
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>{{ app.user.prenom }} {{ app.user.nom | upper }}</h5>
                                <p>@{{ app.user.pseudo }}</p>
                            </div>
                        </div>

                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="small text-muted mb-0">Site</p>
                                    <p class="mb-1 h5">{{ app.user.site.nom }}</p>
                                </div>
                                <div class="px-3">
                                    <p class="small text-muted mb-0">Adresse email</p>
                                    <p class="mb-1 h5">{{ app.user.email }}</p>
                                </div>
                                <div class="px-3">
                                    <p class="small text-muted mb-0">Téléphone</p>
                                    <p class="mb-1 h5">{{ app.user.telephone }}</p>
                                </div>
                                <div class="px-3">
                                    <p class="small text-muted mb-0">Sorties</p>
                                    <p class="mb-1 h5">{{ app.user.sorties.count }}</p>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('app_profil_editer') }}" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                           style="z-index: 1;">
                            Editer le profil
                        </a>
                        <div class="card-body p-4 text-black">
                            {#<div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">Web Developer</p>
                                    <p class="font-italic mb-1">Lives in New York</p>
                                    <p class="font-italic mb-0">Photographer</p>
                                </div>
                            </div>#}
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                {% if app.user.sorties.count == 0 %}
                                    <p class="lead fw-normal mb-0">Aucune sortie</p>
                                {% else %}
                                    <p class="lead fw-normal mb-0">Mes sorties</p>
                                    <p class="mb-0"><a href="#" class="text-muted">Tout voir</a></p>
                                {% endif %}
                            </div>
                            <div class="row g-2">
                                {% for sortie in app.user.sorties|slice(0,3) %}
                                    <div class="col-6 mb-2">
                                        <a href="#">
                                            {{ sortie.nom }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
