{% extends 'base.html.twig' %}

{% block title %}Editer le mot de passe{% endblock %}

{% block body %}

    <div class="container container-page">
        <h1>Modifier le mot de passe</h1>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="row">
            <div class="col-4">
                {{ form_row(form.oldPassword) }}
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                {{ form_row(form.newPassword) }}
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">Soumettre</button>
        <a href="{{ path('app_profil_editer', {'pseudo': user.pseudo}) }}" class="btn btn-outline-danger">Retour au profil</a>

        {{ form_end(form) }}
    </div>

{% endblock %}