{% extends '/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center">Annuler une sortie</h1>
        {{  form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-6 justify-content-center">
                <div class="form-row mx-lg-5 readonly">
                    {{  form_row(form.nom) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.dateHeureDebut) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.dateLimiteInscription) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.nbInscriptionsMax) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.duree) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.infosSortie) }}
                </div>
            </div>

            <div class="col-6">
                <div class="form-row">
                    {{  form_row(form.Ville) }}
                </div>

                <div class="form-row">
                    {{  form_row(form.lieu) }}
                </div>

                <div class="form-row">
                    {{  form_row(form.latitude) }}
                </div>

                <div class="form-row">
                    {{  form_row(form.longitude) }}
                </div>

                <div class="form-row">
                    {{  form_row(form.motifAnnulation) }}
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="{{ path('sortie_cancel') }}" class="btn btn-outline-primary my-lg-3" type="text" >Valider</a>
            <a href="{{ path('sortie_list') }}" class="btn btn-outline-dark my-lg-3" type="text" >Retour</a>
        </div>

        {{  form_end(form) }}
    <div>
{% endblock %}