{% extends './base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-lg-5 text-primary">Annuler une sortie</h1>
        {{  form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-6">
                <p>Nom de la sortie :</p>
                <p>Date et heure de la sortie :</p>
                <p>Ville organisatrice : {{ site.nom }}</p>
                <p>Lieu :</p>
            </div>
            <div class="col-6">
                <p>{{ sortie.nom }}</p>
                <p>{{ sortie.dateHeureDebut|date("m/d/Y") }}</p>
                <p>{{ site.nom }}</p>
                <p>{{ lieu.nom }}</p>
            </div>
        </div>

        <div class="row">
            <div class="form-row mt-lg-5">
                {{  form_row(form.motifAnnulation, {'attr': {'rows': 7}}) }}
            </div>
            <div class="text-start">
                <button class="btn btn-outline-primary mb-lg-3" type="submit" >Valider</button>
                <a href="{{ path('sortie_list') }}" class="btn btn-outline-dark mb-lg-3" type="text" >Retour</a>
            </div>
        </div>

        {{  form_end(form) }}
    <div>
{% endblock %}