{% extends 'base.html.twig' %}

{% block title %}{{ action }} une sortie{% endblock %}

{% block body %}
    <div class="container container-page">
        <h1 class="text-center text-primary">{{ action }} une sortie</h1>
        {{  form_start(form) }}

        {{ form_errors(form) }}

        <div class="row">
            <div class="col-6 justify-content-center">
                <div class="form-row px-lg-5" readonly>
                    {{  form_row(form.nom) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.dateHeureDebut) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.dateLimiteInscription) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.nbInscriptionsMax) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.duree) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.infosSortie) }}
                </div>
            </div>

            <div class="col-6 justify-content-center my-lg-4">
                <div class="form-row px-lg-5">
                    <label for="ville" class="form-label">Ville :</label>
                    <select class="form-select" id="ville" onchange="getLieuParVille()">
                        <option value="">Choisir une ville</option>
                        {% for ville in villes %}
                            <option value="{{ ville.id }}">{{ ville.nom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-row px-lg-5">
                    <label for="lieu" class="form-label">Lieu :</label>
                    <select class="form-select" name="lieu" id="lieu"></select>
                </div>

                <div class="form-row" style="display:none">
                    {{  form_row(form.motifAnnulation) }}
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-outline-primary my-lg-3" type="submit">Enregistrer</button>
            <a href="{{ path('sortie_list') }}" class="btn btn-outline-dark my-lg-3">Annuler</a>
        </div>

        {{  form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function getLieuParVille() {
            const id = document.getElementById('ville').value;
            fetch(`/sortie/getLieuxPourVille/${id}`)
                .then(r=>r.json())
                .then(response => {
                    const lieuSelect = document.getElementById('lieu');
                    let html = `<option selected disabled>Choisir un lieu</option>`;
                    response.forEach(lieu => {
                        html += `
                        <option value="${lieu['id']}">${lieu['nom']}</option>
                    `;
                    });
                    lieuSelect.innerHTML = html;
            });
        }
    </script>
{% endblock %}

