{% extends '/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    {{ parent() }}
    {{ encore_entry_link_tags('map-sortie') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ville') }}
    {{ encore_entry_script_tags('map-sortie') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-primary">{{ action }} une sortie</h1>
        {{  form_start(form) }}

        {{ form_errors(form) }}

        <div class="row">
            <div class="col-6 justify-content-center">
                <div class="form-row px-lg-5" readonly=tru>
                    {{  form_row(form.nom) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.dateHeureDebut) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.dateLimiteInscription) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.nbInscriptionsMax) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.duree) }}
                </div>

                <div class="form-row px-lg-5">
                    {{  form_row(form.infosSortie) }}
                </div>
            </div>

            <div class="col-6 justify-content-center my-lg-4">
                <div class="form-row px-lg-5">
                    <label for="ville" class="form-label">Ville :</label>
                    <select class="form-select" id="ville">
                        <option value="">Choisir une ville</option>
                        {% for ville in villes %}
                            <option value="{{ ville.id }}">{{ ville.nom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-row px-lg-5">
                    {{ form_row(form.lieu, {id: "lieu"}) }}
                </div>

                <div class="form-row px-lg-5">
                    <button id="show-lieu" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#lieuModal">Ajouter un lieu</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="lieuModal" tabindex="-1" aria-labelledby="Lieu" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un lieu</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <label for="lieu_ville" class="form-label">Ville*</label>
                                    <select class="form-select" name="lieu_ville" id="lieu_ville">
                                        <option value="">Choisir une ville</option>
                                        {% for ville in villes %}
                                            <option value="{{ ville.id }}">{{ ville.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-row">
                                    <label for="lieu_nom" class="form-label">Nom*</label>
                                    <input class="form-control" id="lieu_nom" type="text" name="lieu_nom" required/>
                                </div>

                                <div class="form-row">
                                    <label for="lieu_adresse" class="form-label">Adresse</label>
                                    <input class="form-control" id="lieu_adresse" type="text" name="lieu_adresse"/>
                                </div>

                                <div class="form-row">
                                    <label for="lieu_lon" class="form-label">Longitude</label>
                                    <input class="form-control" id="lieu_lon" type="text" name="lieu_lon"/>
                                </div>

                                <div class="form-row">
                                    <label for="lieu_lat" class="form-label">Latitude</label>
                                    <input class="form-control" id="lieu_lat" type="text" name="lieu_lat"/>
                                </div>

                                <div class="form-row mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div id="map"></div>
                                    </div>
                                    <div id="msg-map"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="btn-close-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                <button id="btn-add-lieu" type="button" class="btn btn-primary">Ajouter</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row" style="display:none">
                    {{  form_row(form.motifAnnulation) }}
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-outline-primary my-lg-3" type="submit">Enregistrer</button>
            <a href="{{ path('sortie_list') }}" class="btn btn-outline-dark my-lg-3">Annuler</a>
        </div>

        {{  form_end(form) }}
    </div>
{% endblock %}

