{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <div class="container container-page">
        {{  form_start(filterform) }}
        {{ form_errors(filterform) }}

        <p class="h3 mb-3 px-lg-4">Filter les sorties</p>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    {{ form_widget(filterform.nom) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.site) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.etat) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.dateDebut) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.dateFin) }}
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    {{ form_widget(filterform.estOrganise) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.estInscrit) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.estPasInscrit) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.estPassee) }}
                </div>
                <div class="d-flex mb-3 py-3">
                    <button id="rechercher" class="btn btn-outline-dark mx-4" type="submit">Rechercher</button>
                    <button id="reinitialiser" class="btn btn-outline-dark mx-4" type="reset">Réinitialiser</button>
                </div>
            </div>
        </div>

        {{  form_end(filterform) }}

        <hr />
        <div class="my-3 text-center">
            <a href="{{ path('sortie_add') }}" class="btn btn-light">Créer une sortie</a>
        </div>
        <table class="table col-lg-12 mt-3">
            <thead>
            <tr>
                <th scope="col">Sortie</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Date</th>
                <th scope="col">Date limite d'inscription</th>
                <th scope="col">Inscrits</th>
                <th></th>
                <th scope="col">Etat</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>
                        {% if sortie.participants is not empty %}
                            {% if app.user in sortie.participants %}
                                <a href="{{ path('app_profil_voir', {'pseudo': sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.pseudo }}</a>
                            {% else %}
                                {{ sortie.organisateur.pseudo }}
                            {% endif%}
                        {% else %}
                            {{ sortie.organisateur.pseudo }}
                        {% endif %}
                    </td>

                    <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                    <td>
                        {% set difference = date(sortie.dateLimiteInscription).diff(date(now)) %}
                        {% set days = difference.days %}
                        {% set hours = difference.h %}
                        {% set minutes = difference.i %}

                        {% if days+hours+minutes < 1 %}
                            Atteinte
                        {% else %}
                            Il reste
                            {% if days > 0 %}
                                {{ days }}J,
                            {% endif %}
                            {% if days+hours > 0 %}
                                {{ hours }}h et
                            {% endif %}
                            {{ minutes }}min.
                        {% endif %}
                    </td>


                    <td>
                        {{sortie.participants|length ~ '/' ~ sortie.nbInscriptionsMax ~ ' ' ~
                        (sortie.participants|length == sortie.nbInscriptionsMax ? 'Complet' : '') }}
                    </td>
                    <td>
                        {% if sortie.participants is not empty %}
                            {% if app.user in sortie.participants %}
                                <i class="fa-solid fa-check text-success"></i>
                            {% endif%}
                        {% endif %}
                    </td>
                    <td>{{ sortie.etat.value }}</td>

                    <td>
                        {# Gestion du bouton AFFICHER #}
                        {% if (sortie.etat.name == "OUVERTE" or sortie.etat.name == "CLOTUREE" or sortie.etat.name == "ENCOURS") %}
                            <a href="{{ path('sortie_detail', {'id': sortie.id}) }}" class="btn btn-outline-info">Afficher</a>
                        {% endif %}

                        {# Gestion du bouton ANNULER #}
                        {% if (sortie.organisateur == app.user) and (sortie.etat.name in ["OUVERTE", "CLOTUREE", "TERMINEE"]) %}
                            <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}" class="btn btn-outline-danger">Annuler</a>
                        {% endif %}

                        {# Gestion du bouton MODIFIER #}
                        {% if (sortie.organisateur == app.user) and sortie.etat.name == "CREEE" %}
                            <a href="{{ path('sortie_update', {'id': sortie.id}) }}" class="btn btn-outline-primary">Modifier</a>
                        {% endif %}

                        {# Gestion du bouton PUBLIER #}
                        {% if (sortie.organisateur == app.user) and sortie.etat.name == "CREEE" %}
                            <a href="{{ path('sortie_publish', {'id': sortie.id}) }}" class="btn btn-outline-warning">Publier</a>
                        {% endif %}

                        {# Gestion du bouton Supprimer #}
                        {% if (sortie.organisateur == app.user) and sortie.etat.name == "CREEE" %}
                            <a href="{{ path('sortie_delete', {'id': sortie.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                        {% endif %}

                        {# Gestion des boutons S'INSCRIRE et SE DESISTER #}
                        {% if (sortie.participants is empty) and (sortie.etat.name in ['OUVERTE']) and (sortie.dateLimiteInscription|date("m/d/Y") < "now"|date("m/d/Y")) %}
                            <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}" class="btn btn-outline-success">S'inscrire</a>
                        {% else %}
                            {% if (app.user in sortie.participants) and (sortie.etat.name in ['OUVERTE', 'CLOTUREE'] and (sortie.dateLimiteInscription|date("m/d/Y") < "now"|date("m/d/Y"))) %}
                                <a href="{{ path('sortie_desister', {'id': sortie.id}) }}" class="btn btn-outline-dark">Se désister</a>
                            {# {% elseif sortie.etat.name in ['OUVERTE'] %}
                                <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}" class="btn btn-outline-success">S'inscrire</a>#}
                            {% endif %}
                        {% endif%}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}