{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {# CSS DATATABLE / BOOTSTRAP #}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

    <p class="h3 mt-lg-3 px-lg-4 text-center">Filter les sorties</p>
    <div class="container container-page sortie-page">
        {{ form_start(filterform) }}
        {{ form_errors(filterform) }}

        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    {{ form_label(filterform.nom) }}
                    {{ form_widget(filterform.nom) }}
                </div>
                <div class="mb-3">
                    {{ form_label(filterform.site) }}
                    {{ form_widget(filterform.site) }}
                </div>
                <div class="mb-3">
                    {{ form_label(filterform.etat) }}
                    {{ form_widget(filterform.etat) }}
                </div>
                <div class="mb-3">
                    {{ form_label(filterform.dateDebut) }}
                    {{ form_widget(filterform.dateDebut) }}
                    {{ form_errors(filterform.dateDebut) }}
                </div>
                <div class="mb-3">
                    {{ form_label(filterform.dateFin) }}
                    {{ form_widget(filterform.dateFin) }}
                    {{ form_errors(filterform.dateFin) }}
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    {{ form_widget(filterform.estOrganise) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.estInscrit) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.estPasInscrit) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(filterform.estPassee) }}
                </div>
                <div class="d-flex mb-3 py-3">
                    <button id="rechercher" class="btn btn-outline-dark mx-4" type="submit">Rechercher</button>
                    <a id="reinitialiser" class="btn btn-outline-dark mx-4" href="{{ path('sortie_list') }}">Réinitialiser</a>
                </div>
            </div>
        </div>

        {{  form_end(filterform) }}

        <hr />
        <div class="my-3 text-center">
            {% if ('ROLE_ADMIN' not in app.user.roles) %}
                <a href="{{ path('sortie_add') }}" class="btn btn-light">Créer une sortie</a>
            {% endif %}
        </div>
        <table id="sortie" class="table col-lg-12 mt-3">
            <thead>
            <tr>
                <th scope="col">Sortie</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Date</th>
                <th scope="col">Date limite d'inscription</th>
                <th scope="col">Inscrits</th>
                <th></th>
                <th scope="col">Etat</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>
                        {% if ('ROLE_ADMIN' in app.user.roles or app.user == sortie.organisateur or (sortie.organisateur.rgpd and app.user in sortie.participants)) %}
                            <img class="profile-pic list" src="{{ asset('uploads/participants/' ~ sortie.organisateur.imageProfil) }}" alt="">
                        {% else %}
                            <img class="profile-pic list" src="{{ asset('uploads/participants/default_profile_picture.png') }}" alt="">
                        {% endif %}

                        {% if (app.user == sortie.organisateur ) %}
                            <a href="{{ path('app_profil_voir', {'pseudo': sortie.organisateur.pseudo}) }}">moi</a>
                        {% elseif 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('app_profil_voir', {'pseudo': sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.pseudo }}</a>
                        {% elseif sortie.participants is not empty %}
                            {% if (app.user in sortie.participants) %}
                                <a href="{{ path('app_profil_voir', {'pseudo': sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.pseudo }}</a>
                            {% else %}
                                {{ sortie.organisateur.pseudo }}
                            {% endif%}
                        {% else %}
                            {{ sortie.organisateur.pseudo }}
                        {% endif %}
                    </td>

                    <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                    <td>
                        {% set difference = date(sortie.dateLimiteInscription).diff(date("now")) %}
                        {% set days = difference.days %}
                        {% set hours = difference.h %}
                        {% set minutes = difference.i %}

                        {% if sortie.dateLimiteInscription | date("d/m/Y H:i") < "now" | date("d/m/Y H:i") %}
                            Atteinte
                        {% else %}
                            Il reste
                            {% if days > 0 %}
                                {{ days }}J,
                            {% endif %}
                            {% if days+hours > 0 %}
                                {{ hours }}h et
                            {% endif %}
                            {{ minutes }}min.
                        {% endif %}
                    </td>


                    <td>
                        {{sortie.participants|length ~ '/' ~ sortie.nbInscriptionsMax ~ ' ' ~
                        (sortie.participants|length == sortie.nbInscriptionsMax ? 'Complet' : '') }}
                    </td>
                    <td>
                        {% if sortie.participants is not empty %}
                            {% if app.user in sortie.participants %}
                                <i class="fa-solid fa-check text-success"></i>
                            {% endif%}
                        {% endif %}
                    </td>
                    <td>{{ sortie.etat.value }}</td>

                    <td>
                        {# Gestion du bouton AFFICHER #}
                        {% if (sortie.etat.name in ["OUVERTE", "CLOTUREE", "ENCOURS", "ANNULEE"]) %}
                            <a href="{{ path('sortie_detail', {'id': sortie.id}) }}" class="btn btn-outline-info">Afficher</a>
                        {% endif %}

                        {# Gestion du bouton ANNULER #}
                        {% if (('ROLE_ADMIN' in app.user.roles) or (sortie.organisateur == app.user)) and (sortie.etat.name in ["OUVERTE", "CLOTUREE"]) %}
                            <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}" class="btn btn-outline-danger">Annuler</a>
                        {% endif %}

                        {# Gestion du bouton MODIFIER #}
                        {% if (('ROLE_ADMIN' in app.user.roles) or (sortie.organisateur == app.user)) and sortie.etat.name == "CREEE" %}
                            <a href="{{ path('sortie_update', {'id': sortie.id}) }}" class="btn btn-outline-primary">Modifier</a>
                        {% endif %}

                        {# Gestion du bouton PUBLIER #}
                        {% if (('ROLE_ADMIN' in app.user.roles) or (sortie.organisateur == app.user)) and sortie.etat.name == "CREEE" %}
                            <a href="{{ path('sortie_publish', {'id': sortie.id}) }}" class="btn btn-outline-warning">Publier</a>
                        {% endif %}

                        {# Gestion du bouton Supprimer #}
                        {% if ('ROLE_ADMIN' in app.user.roles or (sortie.organisateur == app.user and sortie.etat.name == "CREEE"))  %}
                            <a href="{{ path('sortie_delete', {'id': sortie.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                        {% endif %}

                        {# Gestion des boutons S'INSCRIRE et SE DESISTER #}
                        {% if ('ROLE_ADMIN' not in app.user.roles) and (app.user != sortie.organisateur) and (app.user not in sortie.participants) and (sortie.participants|length < sortie.nbInscriptionsMax) and (sortie.etat.name in ['OUVERTE']) and (sortie.dateLimiteInscription|date("d/m/Y H:i") > "now"|date("d/m/Y H:i")) %}
                            <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}" class="btn btn-outline-success">S'inscrire</a>
                        {% else %}
                            {% if ('ROLE_ADMIN' not in app.user.roles) and (app.user != sortie.organisateur) and (app.user in sortie.participants) and (sortie.etat.name in ['OUVERTE', 'CLOTUREE'] and (sortie.dateLimiteInscription|date("d/m/Y H:i") > "now"|date("d/m/Y H:i"))) %}
                                <a href="{{ path('sortie_desister', {'id': sortie.id}) }}" class="btn btn-outline-dark">Se désister</a>
                            {# {% elseif sortie.etat.name in ['OUVERTE'] %}
                                <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}" class="btn btn-outline-success">S'inscrire</a>#}
                            {% endif %}
                        {% endif%}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {# BASE JS #}
    {{ parent() }}

    {{ encore_entry_script_tags('datatableConfigSortie') }}
{% endblock %}