{% extends '/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    {{ encore_entry_link_tags('map-show') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map-show') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center text-primary my-lg-3">Affichage d'une sortie</h1>

        <div class="row">
            <div class="col-3 text-primary">
                <p>Nom de la sortie</p>
                <p>Date et heure de la sortie</p>
                <p>Date limite d'inscription</p>
                <p>Nombre de places</p>
                <p>Durée (minutes)</p>
                <p>Description et infos</p>
            </div>

            <div class="col-3">
                <p>{{ sortie.nom }}</p>
                <p>{{ sortie.dateHeureDebut|date("m-d-Y") }}</p>
                <p>{{ sortie.dateLimiteInscription|date("m-d-Y") }}</p>
                <p>{{ sortie.nbInscriptionsMax }}</p>
                <p>{{ sortie.duree }}</p>
                <p>{{ sortie.infosSortie }}</p>
            </div>

            <div class="col-3 text-primary">
                <p>Ville</p>
                <p>Lieu</p>
                <p>Rue</p>
                <p>Code Postal</p>
                <p>Carte</p>
            </div>

            <div class="col-3">
                <p>{{ ville.nom }}</p>
                <p>{{ lieu.nom }}</p>
                <p>{{ lieu.adresse ?? "Pas d'adresse" }}</p>
                <p>{{ ville.codepostal }}</p>
                <div id="map" data-lat="{{ lieu.latitude }}" data-lon="{{ lieu.longitude }}"></div>
            </div>
        </div>

        <h3 class="text-center text-primary my-lg-3">Liste des participants inscrits</h3>
        <hr class="my-lg-3 fw-bold"/>

        {% if participants is empty %}
            <p class="text-center">Aucun participant n'est inscrit !</p>
        {% else %}
            <div class="text-center">
                <table class="table table-striped">
                    <thead>
                    <tr class="fw-bold">
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.nom|upper }} {{ participant.prenom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


        <div class="text-center">
            <a href="{{ path('sortie_list') }}" class="btn btn-outline-primary my-lg-3" type="text" >Retour</a>
        </div>
    <div>
{% endblock %}