{% extends '/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    {{ encore_entry_link_tags('map-show') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map-show') }}
{% endblock %}

{% block title %}{{ sortie.nom | capitalize }}{% endblock %}

{% block body %}
    {% set difference = date(sortie.dateLimiteInscription).diff(date("now")) %}
    {% set days = difference.days %}
    {% set hours = difference.h %}
    {% set minutes = difference.i %}

    <div class="container container-page admin-page">
        <div class="h3 mb-0 text-center text-primary mt-3">Sortie <i class="fa-solid fa-person-walking"></i></div>
        <div class="h1 text-center">{{ sortie.nom | capitalize }}</div>

        <div class="row">
            <div class="col-6 row">
                <div class="col-5 text-primary">
                    <p>Organisateur</p>
                    <p>Date et heure</p>
                    <p>Date limite d'inscription</p>
                    <p>Nombre de places</p>
                    <p>Durée (minutes)</p>
                    <p>Description et infos</p>
                </div>

                <div class="col-5">
                    <p>

                        {% if ('ROLE_ADMIN' in app.user or app.user in sortie.participants) %}
                            <a href="{{ path('app_profil_voir', {'pseudo': 'sortie.organisateur.pseudo'}) }}">{{ sortie.organisateur.pseudo }}</a>
                        {% else %}
                            {{ sortie.organisateur.pseudo }}
                        {% endif %}



                    </p>
                    <p>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</p>
                    <p>
                        {% if days+hours+minutes < 1 %}
                            {{ sortie.dateLimiteInscription | date('d/m/Y à H:i')}} (Atteinte)
                        {% else %}
                            Vous avez jusqu'au {{ sortie.dateLimiteInscription | date('d/m/Y à H:i')}}
                            <br>
                                (Il reste
                                {% if days > 0 %}
                                    {{ days }}J,
                                {% endif %}
                                {% if days+hours > 0 %}
                                    {{ hours }}h et
                                {% endif %}
                                {{ minutes }}min.)
                        {% endif %}
                    </p>
                    <p>{{ sortie.nbInscriptionsMax }}</p>
                    <p>{{ sortie.duree ?? 'Non Renseigné'}}</p>
                    <p>{{ sortie.infosSortie }}</p>
                </div>
            </div>

            <div class="col-6 row">
                <div class="col-5 text-primary">
                    <p>Lieu</p>
                    <p>Adresse</p>
                    <p>Carte</p>
                </div>

                <div class="col-5">
                    <p>{{ lieu.nom }}</p>
                    <p>
                        {% if lieu.adresse is not null %}
                             {{ lieu.adresse }}<br>
                        {% endif %}
                        {{ ville.nom | upper }} {{ ville.codepostal }}
                    </p>
                    <p></p>
                    <div id="map" data-lat="{{ lieu.latitude }}" data-lon="{{ lieu.longitude }}"></div>
                </div>
            </div>
        </div>

        {% if sortie.etat.name == "ANNULEE" %}
            <p class="text-danger">Motif annulation : {{ sortie.motifAnnulation }}</p>
        {% endif %}

        <h3 class="text-center text-primary my-lg-3">Participants inscrits</h3>
        <hr class="my-lg-3 fw-bold"/>

        {% if participants is empty %}
            <p class="text-center">Aucun participant n'est inscrit !</p>
        {% else %}
            <div class="text-center">
                <table class="table table-striped">
                    <thead>
                        <tr class="fw-bold">
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>
                                {% if ('ROLE_ADMIN' in app.user or app.user == sortie.organisateur) %}
                                    <a href="{{ path('app_profil_voir', {'pseudo': 'participant.pseudo'}) }}">{{ participant.pseudo }}</a>
                                {% else %}
                                    {{ participant.pseudo }}
                                {% endif %}
                            </td>
                            <td>{{ participant.nom|upper }} {{ participant.prenom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


        <div class="text-center">
            <a href="{{ path('sortie_list') }}" class="btn btn-outline-primary my-lg-3" type="text" >Retour</a>
        </div>
    </div>
{% endblock %}