{% extends '/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    {{ encore_entry_link_tags('map-show') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map-show') }}
{% endblock %}

{% block title %}{{ sortie.nom | capitalize }}{% endblock %}

{% block body %}
    {% set difference = date(sortie.dateLimiteInscription).diff(date("now")) %}
    {% set days = difference.days %}
    {% set hours = difference.h %}
    {% set minutes = difference.i %}

    {% set duree = sortie.duree %}
    {% set hours_for_duree = duree / 60 %}
    {% set minutes_for_duree = duree % 60 %}

    <div class="container container-page sortie-page show">
        <div class="sortie-title">
            <h1>{{ sortie.nom | capitalize }}</h1>
            <h2>
                <i class="fa-solid fa-person-walking"></i>
                Sortie
                <span>
                    organisée par
                    {% if ('ROLE_ADMIN' in app.user.roles or app.user in sortie.participants or app.user == sortie.organisateur) %}
                        <a href="{{ path('app_profil_voir', {'pseudo': sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.pseudo }}</a>
                    {% else %}
                        {{ sortie.organisateur.pseudo }}
                    {% endif %}
                </span>
            </h2>
        </div>

        {% if sortie.etat.name == 'ANNULEE' %}
            <p class="motif-annulation"><i class="fa-solid fa-triangle-exclamation"></i> La sortie a été annulée : {{ sortie.motifAnnulation }}</p>
        {% endif %}

        <div class="sortie-infos">
            <div class="sortie-text">
                {% set desc = sortie.infosSortie | replace({'.': '.‡', '!': '!‡'}) %}
                {% set newDesc = desc | split('‡') %}

                <p>
                    La sortie est prévue le {{ sortie.dateHeureDebut | date("d/m/Y à H\\hi") }}, elle durera
                    {% if duree > 59 %}
                        {{ hours_for_duree|round(0, 'floor') }} heure{{ hours_for_duree|round(0, 'floor') > 1 ? 's' : '' }}
                        {% if minutes_for_duree > 0 %}
                            et {{ minutes_for_duree }} minute{{ minutes_for_duree > 1 ? 's' : '' }}
                        {% endif %}
                    {% else %}
                        {{ duree }} minute{{ duree > 1 ? 's' : '' }}
                    {% endif %}
                </p>
                <p>{% for sentence in newDesc %}{{ sentence }}<br>{% endfor %}</p>
                <div class="sortie-text-inscription">
                    <div class="inscription-infos">
                        <p>Vous avez jusqu'au {{ sortie.dateLimiteInscription | date("d/m/Y à H\\hi") }} pour vous décider</p>
                        <span>
                            {% if sortie.dateLimiteInscription | date("d/m/Y H:i") < "now" | date("d/m/Y H:i") %}
                                (Il est trop tard désormais)
                            {% else %}
                                (Il reste
                                {% if days > 0 %}
                                    {{ days }}J,
                                {% endif %}
                                {% if days+hours > 0 %}
                                    {{ hours }}h et
                                {% endif %}
                                {{ minutes }}min.)
                            {% endif %}
                        </span>
                    </div>

                    {# Gestion des boutons S'INSCRIRE et SE DESISTER #}
                    {% if ('ROLE_ADMIN' not in app.user.roles) and (app.user != sortie.organisateur) and (app.user not in sortie.participants) and (sortie.participants|length < sortie.nbInscriptionsMax) and (sortie.etat.name in ['OUVERTE']) and (sortie.dateLimiteInscription|date("d/m/Y H:i") > "now"|date("m/d/Y")) %}
                        <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}" class="btn btn-outline-success">S'inscrire</a>
                    {% else %}
                        {% if ('ROLE_ADMIN' not in app.user.roles) and (app.user != sortie.organisateur) and (app.user in sortie.participants) and (sortie.etat.name in ['OUVERTE', 'CLOTUREE'] and (sortie.dateLimiteInscription|date("d/m/Y H:i") > "now"|date("d/m/Y H:i"))) %}
                            <a href="{{ path('sortie_desister', {'id': sortie.id}) }}" class="btn btn-outline-dark">Se désister</a>
                        {% endif %}
                    {% endif%}
                </div>
            </div>

            <div class="sortie-map">
                <div class="map-text">
                    <i class="fa-solid fa-map-pin"></i>
                    <p>
                        {{ lieu.nom | capitalize}}<br>
                        {% if lieu.adresse is not null %}
                            {{ lieu.adresse }},
                        {% endif %}
                        {{ ville.nom | upper }} {{ ville.codepostal }}
                    </p>
                </div>
                <div id="map" data-lat="{{ lieu.latitude }}" data-lon="{{ lieu.longitude }}"></div>
            </div>
        </div>

        <div class="participants-in-sortie">
            <h2 class="text-center my-lg-3">{{ sortie.participants | length }}/{{ sortie.nbInscriptionsMax }} participants</h2>
            <hr class="my-lg-3 fw-bold"/>

            {% if sortie.participants is empty %}
                <p class="text-center">Il n'y a pas d'inscrit..</p>
            {% else %}
                <div class="text-center">
                    <table class="table">
                        <thead>
                            <tr class="fw-bold">
                                <th scope="col"></th>
                                {% if ('ROLE_ADMIN' in app.user.roles or app.user == sortie.organisateur) %}
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                {% endif %}
                            </tr>
                        </thead>

                        <tbody>
                        {% for participant in participants %}
                            <tr>
                                {% if ('ROLE_ADMIN' in app.user.roles or app.user == sortie.organisateur) %}
                                    <td>
                                        {% if ('ROLE_ADMIN' in app.user.roles or participant.rgpd) %}
                                            <img class="profile-pic list" src="{{ asset('uploads/participants/' ~ participant.imageProfil) }}" alt="">
                                        {% else %}
                                            <img class="profile-pic list" src="{{ asset('uploads/participants/default_profile_picture.png') }}" alt="">
                                        {% endif %}
                                        <a href="{{ path('app_profil_voir', {'pseudo': participant.pseudo}) }}">{{ participant.pseudo }}</a>
                                    </td>
                                    <td>{{ participant.nom|upper }} {{ participant.prenom }}</td>
                                    <td>{{ participant.email }}</td>
                                {% else %}
                                    <td>
                                        {% if (participant.rgpd or app.user == participant) %}
                                            <img class="profile-pic list" src="{{ asset('uploads/participants/' ~ participant.imageProfil) }}" alt="">
                                        {% else %}
                                            <img class="profile-pic list" src="{{ asset('uploads/participants/default_profile_picture.png') }}" alt="">
                                        {% endif %}
                                        {% if app.user == participant %}
                                            <a href="{{ path('app_profil_voir', {'pseudo': participant.pseudo}) }}">{{ participant.pseudo }}</a>
                                        {% else %}
                                            {{ participant.pseudo }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>


        <div class="text-center">
            <a href="{{ path('sortie_list') }}" class="btn btn-retour btn-outline-dark my-lg-3" type="text" >Retour</a>
        </div>
    </div>
{% endblock %}