<tr>
    {{  form_start(addForm) }}

    <td>
        <div class="form-row">{{  form_widget(addForm.nom) }}</div>
    </td>

    <td>
        <div class="form-row">{{  form_widget(addForm.codePostal) }}</div>
    </td>


    <td>
        <div class="form-row">{{  form_widget(addForm.valider, {'label': 'Ajouter'}) }}</div>
    </td>

    {{  form_end(addForm) }}
</tr>