{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}

    <div class="container">

        <h1>Liste des villes</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom (Code postal)</th>
                <th scope="col">Actions</th>
                <th scope="col">
                    <a href="{{ path('ville_add') }}">➕</a>
                </th>

            </tr>
            </thead>

            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }} ({{ ville.codepostal }})</td>
                    <td>
                        <a href="{{ path('ville_update', {'id': ville.id}) }}">🖊️</a>
                        <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ ville.nom }} ? Attention cette action est irréversible.')" href="{{ path('ville_delete', {'id': ville.id}) }}">🗑️</a>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}