{% extends '/admin/base.html.twig' %}

{% block title %}{{ action }} un participant{% endblock %}

{% block body %}
    <div class="container admin-page">
        <h1>{{ action }} un participant</h1>
        {{  form_start(form) }}

        <div class="form-row">
            {{  form_row(form.pseudo) }}
        </div>

        <div class="form-row participant-img">
            {{  form_label(form.imageProfil) }}
            <img style="height: 100px;" src="{{ asset('uploads/participants/' ~ participant.imageProfil) }}" alt="Photo de profil">
            {{  form_widget(form.imageProfil) }}
        </div>

        <div class="form-row">
            {{  form_row(form.prenom) }}
        </div>

        <div class="form-row">
            {{  form_row(form.nom) }}
        </div>

        <div class="form-row">
            {{  form_row(form.email) }}
        </div>

        <div class="form-row">
            {{  form_row(form.telephone) }}
        </div>

        <div class="form-row">
            {{  form_row(form.site) }}
        </div>

        <div class="form-row">
            {{  form_row(form.actif) }}
        </div>

        <div class="form-row">
            {{  form_row(form.mdp) }}
        </div>

        {{  form_end(form) }}
    </div>


{% endblock %}